<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript">
            if(localStorage.getItem('token') === null) {
                location.href = '/'
            }
        </script>
        <title>todos - Simple Todo</title>
    </head>
    <body>
        <div id="todo-list">
            <h1 id="title">{{ user }}'s Todos</h1>
            <div>
                <input type="text" name="name" v-model="newTodo" placeholder="new todo">
                <button type="button" name="add" @click="postTodo">Add</button>
            </div>
            <div v-if="todos.length === 0">
                <p>No your todos...</p>
            </div>
            <ul v-else id="todo-list">
                <li v-for="(todo, index) in todos" :key="index">
                    <input type="checkbox" :id="index" name="completed" :checked="todo.completed" @click="checkTodo(todo.id)">
                    <label :for="index">{{ todo.name }}</label>
                    <button type="button" name="delete" @click="deleteTodo(todo.id)">X</button>
                </li>
            </ul>
            <button type="button" name="logout" @click="logout()">logout</button>
        </div>
        <script src="assets/js/todoList.js"></script>
    </body>
</html>
